.contactListBackground {
  background-color: #4b4b4b;
}

.viewportDimensions {
  width: 60%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.viewportBackground {
  background-image: url("../images/fathers_stuff-wallpaper-2880x1800.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.chatInputHolder {
  background-color: red;
  width: 100%;
  position: sticky;
  bottom: 0;

  height: 5%;
  max-height: 40px;
  border-radius: 10px;
}

.chatViewportHolder {
  height: 100%;
  overflow-y: scroll;
}

.chatViewportHolder::-webkit-scrollbar {
  display: none;
}

.makeChatInvisible {
  visibility: hidden;
}
